nav li a {
  @apply block px-4 py-3 hover:bg-slate-200;
}

nav li {
  position: relative;
  z-index: 40;
}

nav li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0px;
}

nav li:hover > ul {
  display: block;
}
